@model ResetMyPasswordModel
@{
    Layout = "_LayoutLogout";
    ViewData["Title"] = "ResetMyPassword";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Login" asp-action="SendLinkToDefinePassword" method="post" class="d-flex justify-content-center align-items-center flex-column" style="width: 40%; margin: 0 auto;">
    <div class="mb-3 text-center" style="width: 100%;">
        <label for="login" class="form-label" style="display: block; text-align: center;">Login</label>
        <input type="text" asp-for="Login" class="form-control mx-auto" id="login" style="width: 50%; text-align: center;">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3 text-center" style="width: 100%;">
        <label for="email" class="form-label" style="display: block; text-align: center;">Email</label>
        <input type="text" asp-for="Email" class="form-control mx-auto" id="email" style="width: 50%; text-align: center;">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <br />

    <button type="submit" class="btn btn-primary w-50">Reset My Password</button>
    <br />
    <a class="btn btn-secondary " asp-controller="Login" asp-action="Index">Go back</a>
</form>

